.navigation {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end; /* Align nav items to right */
  gap: 5rem;
  cursor: pointer;
  height: 80px;
  color: #91c8e4;
  background-color: #f5efff;
  font-size: 20px;
  font-weight: bold;
}
.nav:hover {
  transform: translateY(-3px);
}



  


.hero-img {
  height: 300px;
  width: 450px; 
  border: 2px solid #333; 
  box-sizing: border-box; 
  background-size: cover; 
  border-radius: 8px; 
  overflow: hidden;
}

.hero-heading{
    font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: -1px;
      /* text-align: left; */
      margin: 8rem 0px 1.5rem 5rem;
}